
html {
  margin: 0 auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #fff;
  color: #E8F6EF;
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 7px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: rgba(102, 119, 155, 0.048);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #d7e0ff;
  border-radius: 5px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
